# docker_oeasc/settings.ini
geonature/GeoNature
# geonature/settings.ini
# docker_geonature/settings.ini
**/UsersHub
**/GeoNature
**/TaxHub
**/settings.ini
docker_geonature/taxhub/settings.ini
docker_geonature/usershub/settings.ini
