#host de la base de données de l'application
db_host=localhost
#Port du serveur PostgreSQL
db_port=5432
#nom de la base de données de l'application
db_name=usershubdb
#nom de l'utilisateur propriétaire de la base de l'application
user_pg=geonatuser
#user propriétaire de la base de l'application
user_pg_pass=monpassachanger

# facultatif
#nom de l'utilisateur ayant des droit superutilisateur
user_install=""
#user propriétaire de la base de l'application
user_install_pass=""



#Configuration python
###########################
#Notice: n'est compatible qu'avec python3
python_path=/usr/bin/python3

ID_APP=500
URL_APPLICATION="localhost:5000"
URL_USERHUB="localhost:5001"


#####################
### Gunicorn settings
#####################
gun_num_workers=4
gun_host=0.0.0.0
gun_port=5001


##### mail

MAIL_ANIMATEUR=somemail
DEFAULT_MAIL_SENDER=somemail

MAIL_SERVER=smtp.gmail.com,
MAIL_PORT=465
MAIL_USE_TLS=False
MAIL_USE_SSL=True

MAIL_USERNAME=some_user@gmail.com
MAIL_PASSWORD=some_password

